@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}
a:active {
  color: #222;
}
.bold {
  font-weight: bold;
}
.navbar {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}
.nav-container {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.container {
  height: calc(100vh - 67px);
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login {
  gap: 7px;
  display: flex;
  flex-direction: column;
}
.store-container {
  text-align: center;
}
.store-container h1 {
  margin-top: 10px;
}
.items * {
  box-sizing: content-box;
}
.items {
  padding: 20px;
  display: grid;
  justify-items: center;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.item {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.item-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.item-img img {
  border-radius: 5px;
}
.item-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.item-price {
  font-size: 1.4rem;
  font-weight: bolder;
  color: #392bcd;
}
.details {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.deliver {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #25d970;
  padding: 5px 7px;
  overflow: hidden;
}
.deliver:hover {
  cursor: pointer;
  background-color: #1ab75c;
}
.detailed-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px 20px;
}
.detailed-wrapper {
  padding: 10px;
  border: 3px solid #3ca0a3;
  border-radius: 10px;
  width: 800px;
  display: flex;
  justify-content: space-around;
}
.row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.details-section {
  padding: 5px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.detailed-review {
  font-size: 1.3rem;
}
.buy-section {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-btn {
  padding: 10px 20px;
  font-size: 2rem;
}
.detailed-description {
  padding: 10px;
  width: 800px;
  border: 3px solid #3ca0a3;
  border-radius: 10px;
}
.detailed-description h1 {
  margin-bottom: 10px;
}
svg {
  width: 35px !important;
  height: 35px !important;
  cursor: pointer;
}
.bookmarks-grid {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-item {
  padding: 5px;
}
.cart-item-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.cart-img,
.cart-img img {
  width: 200px;
  height: 200px;
}
.cart-info {
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cart-price {
  display: flex;
  align-items: center;
}
.cart-description {
  max-width: 400px;
  overflow: hidden;
}
.quantity {
  display: flex;
  margin-left: 10px;
  gap: 5px;
}
.quantity button {
  width: 25px;
}
.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-trash {
  width: 20px !important;
}
.fa-trash:hover {
  color: #424242;
}
.money-div {
  width: 620px;
  max-width: calc(100% - 15px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cash {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.edit-page,
.add-new {
  display: flex;
  padding: 20px;
}
.edit-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.edit-description {
  max-width: 400px;
}
.add-new .edit-container {
  width: 100%;
}
.admin-panel {
  padding: 20px;
  text-align: center;
}
